<a href="https://colab.research.google.com/github/GabiiKatherin/estatistica_com_python/blob/main/Estatistica_com_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn
import scipy

In [3]:
print('Versão do pandas -> %s' % pd.__version__)
print('Versão do numpy -> %s' % np.__version__)
print('Versão do seaborn -> %s' % seaborn.__version__)
print('Versão do scipy -> %s' % scipy.__version__)

Versão do pandas -> 1.5.3
Versão do numpy -> 1.23.5
Versão do seaborn -> 0.12.2
Versão do scipy -> 1.10.1

In [5]:
# sep: define o tipo de separador
dados = pd.read_csv('dados.csv', sep = ',')

In [11]:
#consulta o tamanho da base (linhas, colunas):
dados.shape

(76840, 7)

In [14]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

### **1.2 - Tipos de dados:**

Variáveis **qualitativas ordinais**: podem ser ordenadas ou hierarquizadas.

In [18]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

Variáveis **qualitativas nominais**: não podem ser ordenadas ou hierarquizadas.

In [ ]:
sorted(dados['UF'].unique())

In [20]:
sorted(dados['Sexo'].unique())

[0, 1]

Acima, mesmo que 0 e 1 sejam números, eles não estão ordenados, pois representam masculino e feminino, respectivamente.

In [22]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

Variáveis **qualitativas discretas**: representam uma contagem onde os valores possíveis formam um conjunto finito ou enumerável.

In [23]:
print('De %s até %s anos' % (dados.Idade.min(), dados.Idade.max()))

De 13 até 99 anos

Observação: A idade pode ser classificada de várias formas dependendo da situação:
- Quantitativa **discreta**: com números completos (ex: 13, 40, 60 anos);
- Quantitativa **contínua**: idade exata, com frações de anos (ex: 22,5 anos);
- Quantitativa **ordinal**: quando representa faixas de idade (ex: de 13 à 18 anos).

In [25]:
print('De %s até %s metros de altura.' % (dados.Altura.min(), dados.Altura.max()))

De 1.339244614 até 2.028496765 metros de altura.

Variáveis **quantitativas contínuas**: representam uma contagem onde os valores possíveis formam um conjunto finito ou enumerável.

# Variáveis quantitativas

In [6]:
dados.Renda.min()

0

In [7]:
dados.Renda.max()

200000

In [8]:
#uma lista com os limites das classes que eu quero construir:
classes = [0, 1576, 3152, 7880, 15760, 200000]

In [9]:
labels = ['E','D','C','B','A']

In [11]:
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [10]:
pd.cut( x = dados.Renda,
       bins = classes,
       labels = labels,
       include_lowest = True )

0        E
1        E
2        E
3        C
4        E
        ..
76835    E
76836    E
76837    E
76838    E
76839    E
Name: Renda, Length: 76840, dtype: category
Categories (5, object): ['E' < 'D' < 'C' < 'B' < 'A']

In [12]:
pd.value_counts(
    pd.cut(x = dados.Renda,
               bins = classes,
               labels = labels,
               include_lowest = True)
)

E    49755
D    16700
C     7599
B     2178
A      608
Name: Renda, dtype: int64

In [13]:
frequencia = pd.value_counts(
    pd.cut(x = dados.Renda,
               bins = classes,
               labels = labels,
               include_lowest = True)
)
frequencia

E    49755
D    16700
C     7599
B     2178
A      608
Name: Renda, dtype: int64

In [17]:
percentual = pd.value_counts(
    pd.cut(x = dados.Renda,
               bins = classes,
               labels = labels,
               include_lowest = True),
    normalize = True
) * 100
percentual

E    64.751432
D    21.733472
C     9.889381
B     2.834461
A     0.791255
Name: Renda, dtype: float64

In [22]:
dist_freq_quantitativas_personalizadas = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)
dist_freq_quantitativas_personalizadas.sort_index(ascending = True, inplace = True)
dist_freq_quantitativas_personalizadas

   Frequência  Porcentagem (%)
E       49755        64.751432
D       16700        21.733472
C        7599         9.889381
B        2178         2.834461
A         608         0.791255